<div ng-controller="mainCtrl" class="list">
  <div class='add'>
    <a href="" ng-click="addTodo()">+ Add new task</a>
  </div>
  <!-- the true will reverse the order -->
  <!-- ng-init is only used in conjunction with ng-repeat -->
  <!-- ng-init will initialize the item with the given value -->
  <div class="item" ng-class="{'editing-item': editing, 'edited': todo.edited, 'completed': todo.completed}" ng-repeat="todo in todos | orderBy: 'completed'" ng-init="todo.completed = false">
    <input ng-model="todo.completed" type="checkbox"/>
    <!-- this will essentially toggle the value from true to false or false to true -->
    <span ng-click="todo.completed = !todo.completed; todo.edited = true"></span>
    <label ng-click="editing = true" ng-hide="editing" ng-click="helloWorld()">{{todo.name}}</label>
    <input ng-change="todo.edited = true" ng-blur="editing = false;" ng-show="editing" ng-model="todo.name" class="editing-label" type="text"/>
    <div class="actions">
      <a href="" ng-click=" editing = !editing">edit</a>
      <a href="" ng-click="saveTodos(todo)">save</a>
      <!-- ng-repeat gives an index for each todo in the todos list -->
      <a href="" ng-click="deleteTodo(todo, $index)" class="delete">delete</a>
    </div>
  </div>
</div>
